
<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
    Hi {{ person }}! Welcome to Madlibs!
    <form action="/madlib">
        Person name: 
        <input type="text" name="person"></input>
        {% for category, choices in madlibs_dict.items() %}
            <select name= "{{ category }}" >
            {% for choice in choices %}
                <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
            </select>
        {% endfor %}
        <input type="checkbox" name="verbs" value="skipping">Skipping</input>
        <input type="checkbox" name="verbs" value="hopping">Hopping</input>
        <input type="checkbox" name="verbs" value="hugging">Hugging</input>
        <input type="checkbox" name="verbs" value="flying">Flying</input>
        <input type="submit"></input>
    </form>
</body>
</html>